@charset "UTF-8";
/* CSS Document by Tiffany Mackay */
/*---------CSS Reset---------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------Global Styles---------*/
html {
	background-color: #FFFFFF;
}
body {
	background-color: #FFFFFF;
	width: 1024px;
	margin: 0 auto;
}
header {
	height: 160px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	width: 100%
}
h1 {
	position: fixed; 
	top: 15px;
	width: 338px;
	height: 48px;
	left: 196px;
	font-family: 'Over the Rainbow', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 73px;
	color: #000000;	

}

nav {
	position: fixed;
	top: 40px;
	width: 160px;
	height: 32px;
	left: 980px;
}
.menu{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	font-family: 'Patrick Hand SC', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: right;
}

.menu li {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 32px;	
}
.menu li a {
	color: #000000;
	text-decoration: none;
}

main {
	display: flex;
	position: static;
	flex-wrap: wrap;
	justify-content: space-between;
}

figure {
	width: 187px;
	height: 153px;
	margin-bottom: 36px;
	margin-right: 28px;
	overflow: hidden;
	border-radius: 4px;
}

figure img {
	max-width: 100%;
	object-fit: cover;
		
}
footer {
	width: 287px;
	height: 41px;
	left: 96px;
	top: 729px;

	font-family: Patrick Hand sc;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	color: #000000;

}
